<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title>Produtos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>
    <img src="https://cdn.iset.io/assets/00665/produtos/2839/625218_1.png" />
    <ion-card-header>
      <ion-card-subtitle>{{produto.nome}}</ion-card-subtitle>
      <ion-card-title>{{produto.nome}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{produto.desc}}
    </ion-card-content>
  </ion-card>
  <ion-button expand="full" [routerLink]="['/carrinho']">Adicionar ao Carrinho! </ion-button >
</ion-content>
